<div class="modal fade" id="adminLogin" tabindex="-1" aria-labelledby="Admin login" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Admin login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="adminPass">
                    <form action="/users/makeAdmin" method="post">
                        <div class="form-floating mb-3">
                            <input type="password" name="admin_password" class="form-control" id="floatingInput" placeholder="Password" required>
                            <label for="floatingInput">Admin password</label>
                        </div>
                        <button type="submit" class="btn submitHomeButton"> Enter as Admin</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>