<div class="modal fade" id="makeAdminModal" tabindex="-1" aria-labelledby="makeAdmin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Admin users</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Select users to be made admins</p>
        <!--make a user an admin-->
        <form method="POST" action="/admin/newAdmin" class="mt-3">
          <select class="form-select" aria-label="Default select example" name="selectedUser">
            <option selected>Select to make Admin</option>
            <% for(let i = 0; i<employee.length ; i++){ %>
              <!--if user isn't already an admin then add name to the list-->
              <% if(employee[i].isAdmin===false){ %>
                <option value= <%= employee[i]._id %> > <%= employee[i].name %> </option>
              <% } %>
            <%}%>
          </select>
          <br/>
          <button type="submit" class="submit-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>